[2019-11-18 03:26] kenske opened #2 "First time range is negative if start time doesn't start at 0 minutes"
If I try to download starting at 14:05:00, I'll see this in the logs:
[code]

[2019-11-18 16:45] danielfernau commented on #2
@kenske Thank you for reporting this, I'll look into it.

Looks like something's wrong with the part that aligns the provided date/time range to one-hour chunks starting at every full hour.

It should be
- Download 1 of 3, 14:05 - 15:00
- Download 2 of 3, 15:00 - 16:00
- Download 3 of 3, 16:00 - 16:55

[2019-11-30 14:12] danielfernau commented on #2
@kenske The issue has been resolved.

[2019-11-30 14:12] #2 closed

[2019-12-05 21:22] peteytoo opened #3 "Version to download based on Events"
Attached is revision that downloads based on event capture for all cameras
[download_events.zip](https://github.com/danielfernau/unifi-protect-video-downloader/files/3929169/download_events.zip)
Some options removed

Called from bash as below:
#!/bin/bash
sdate=`date -d "yesterday 00:00:00.0000" +%s%N`
begdate=${sdate::-6}
edate=`date -d "today 00:00:00.0000" +%s%N`
enddate=${edate::-6}
python3 do

[2019-12-05 22:38] danielfernau commented on #3
@peteytoo Awesome, thanks for building and sharing this! I'll have a look and add it to the project in the next few days...

[2019-12-06 00:07] peteytoo commented on #3
Daniel:

Thank YOU for providing the framework.

I am new to github (signed up just to post my modification of your
project), so please forgive me if I did not follow correct protocol to
submit a variation/suggestion etc.

I've never written in python before, so I am sure there are improvements
are to be made.

Pete

On Thu, Dec 5, 2019 at 5:38 PM Daniel Fernau <notifications@github.com>
wrote:

-

[2019-12-07 00:07] danielfernau commented on #3
Hey Pete

In that case, first of all: Welcome to GitHub, and the developer community in general!
Also, very cool that you're learning a new programming language.

Since there is no CONTRIBUTING.md file in this repository, there are no definite standards to follow when sharing ideas and code. Usually, you'd fork the repository (create a copy of it under your own username), make changes to your copy

[2020-01-03 10:14] purpleidea opened #4 "Videos are "sparse" which confuses media players"
Hi,

Thanks for your script. I was playing with it in lieu of using rsync, because I'm really not in the mood to reverse the *.ubv files =D

I noticed it pulls down the videos in "chunks" of one hour. However inside each of those chunks there may be only a few minutes or a few separate instances of a few minutes (usually when "record motion only" is enabled).

Playing back those files seems to be

[2020-01-03 10:17] purpleidea opened #5 "add "rsync style" resuming"
Running a command like:

[code]

Works great, however it always re-checks the whole time interval. It would be great to automatically flag ranges that have already been checked, and to never download (too far, in case of timesync issues) into the future.

If someone has already baked in such a solution, please lmk.

Thanks!

[2020-01-03 10:20] purpleidea opened #6 "Unnecessary empty files"
Running this command:

[code]

Produces many empty files. Eg:

[code]

And so on. It would be excellent to avoid creating these.

Thanks!

---
**Edit:** removed IP address and username/password from provided command example

[2020-01-03 10:21] purpleidea commented on #6
NOTE: If you specify a time range earlier than when you ever had recordings, you get empty dirs getting created with no video files inside. (just the cam0... dir)

[2020-01-03 18:26] danielfernau commented on #4
Hi James

Thanks for your feedback. I know what you mean and it's an issue with the export API itself, not the script. Some video players have problems with the playback of these incomplete stream exports.

However, the script's main purpose is to automate the API calls for requesting files from the CloudKey storage and my goal is to keep it as simple as possible for now. It's mainly designed to b

[2020-01-03 18:37] danielfernau commented on #5
Good idea(s), thanks.

Checking the already downloaded files could be further improved by looking at the file names and/or existing folder structure in the specified download destination directory at the very beginning of the script and then reducing the given time range accordingly.

Currently however, the script already does something similar on a file-by-file basis without actually contacting t

[2020-01-03 18:45] danielfernau commented on #6
The API currently does not return a 'no recordings for requested time range' error of any kind and instead provides a *.mp4 file like it also does for every "valid" time range.

So for now there's only the option to (automatically) delete these files based on their file size after they have been downloaded. Have a look at https://superuser.com/a/644274 for more information on how to do that. Easie

[2020-01-04 04:17] purpleidea commented on #6
I can bash script, but it might be nice to do this natively, even if it's a hack and we check for size == 0.
I don't like writing python anymore, so this is untested, but here's the general idea:

https://github.com/danielfernau/unifi-protect-video-downloader/pull/7

LMK

[2020-01-04 04:21] purpleidea commented on #5
We could also be yucky and leave a token. Eg `.lastwhatever` or something and store the date in there.

Hmmm, can you elaborate? This would mean we'd have to keep the 10000's of empty video files though, right?

[2020-01-04 12:12] danielfernau commented on #5
Good idea, that's probably the easiest way to solve this. At the end of every processed one-hour chunk write the `end` timestamp of that chunk to a file. Keep that file up-to-date as the script goes through the given time range. If the script runs again, check if the timestamp in the file is between given start and end time, and adjust the start time accordingly. I'll try to implement it that way.

[2020-01-04 12:27] danielfernau commented on #6
Agreed. Checking if it's empty before starting the download only works if the file is "finalized" on the UniFi Protect side before downloading, which it is not. Instead of exporting it to a file on the CloudKey and then providing the download link (including the HTTP `Content-Length` header etc.) the UniFi Protect API currently returns a download stream of unknown size (due to missing length heade

[2020-01-14 17:02] dcramer commented on #5
I'm here with a similar goal in mind (archiving all video footage). So far my hack has been to just run it hourly on a cron, but I haven't dug deep enough into the API to know if that's going to create issues. Is it possible that Unifi is making near-time video available before the end of the hour, and thus we'd end up with partial video files that would later have been completed?

Here's my cron

[2020-01-14 17:54] danielfernau commented on #5
@dcramer Automating it with a cron should work fine. At least in my setup this has not caused any issues so far. I'm also not entirely sure how the API and the file processing works in detail but I think the recordings are written directly to disk. So it's unlikely that some kind of post-processing of the files causes partial video files. I'd guess that the reason why they're using these special u

[2020-01-15 02:28] dcramer commented on #5
@danielfernau i think i used older end date, newer start date, and it downloaded *something*, though far less than reversing them. I also looked at the comments in that function afterwards and it seemed like it expected start to be newer. tbqh caffeine withdraw happening right now and my memory is not coherent ;)

[2020-01-16 18:04] danielfernau commented on #5
@dcramer Just tried downloading something with start at midnight and end at 4am – which worked as expected, and then tried it with start at 4am and end at midnight, which downloaded nothing. It basically just produced some console output which looks similar to the output generated during regular downloads but much shorter. But at the end it says `0 files downloaded, 0 files skipped, 0 files total`

[2020-01-16 23:32] danielfernau commented on #3
Hey @peteytoo – sorry it took so long; had to deal with lots of work during the past few weeks.

I added your idea to the code and discovered along the way that there's a hidden feature that allows to see the heat maps of the motion recordings as well. So with the second command line option I added with commit https://github.com/danielfernau/unifi-protect-video-downloader/commit/a5c494f6ae23bac6ef

[2020-01-20 14:35] peteytoo commented on #3
Daniel:

No problem - I have been tied up a lot myself!

I love the heat map feature, I had seen it was possible (found examples on
google) but I couldn't find the parameter to show it - that is great thank
you!

Pete

On Thu, Jan 16, 2020 at 6:32 PM Daniel Fernau <notifications@github.com>
wrote:

--
pseabrook@progressdev.com

[2020-01-20 15:11] peteytoo commented on #3
Daniel:

All of my events have 'heatmap': None - do you have to enable something for
this information to be recorded?

Pete

On Mon, Jan 20, 2020 at 9:35 AM Seabrook, Peter <pseabrook@progressdev.com>
wrote:

--
pseabrook@progressdev.com

[2020-01-20 15:27] danielfernau commented on #3
@peteytoo
I was surprised to see that heat maps are available in Protect – last time I saw that feature was when I was using the old UniFi Video system, during motion sensitivity calibration in camera settings. Always good to have that, especially for when something in the frame constantly triggers unwanted motion recordings and you want to know what it is, to change sensitivity or to add an excep

[2020-01-20 15:31] peteytoo commented on #3
Daniel:

Thanks for the quick response.  That is exactly the reason I am looking for
the heatmaps - so I can tweak my zone definitions.  All of my camera's have
zones,  but I deleted the default because I read that you shouldn't have
any zones that overlap...

When you download the events, I am assuming the heatmap JSON element has an
ID associated with it, correct?

Pete

On Mon, Jan 20, 2020 at

[2020-01-20 15:52] danielfernau commented on #3
@peteytoo
Yes, that's correct. From the API path `/api/motion-events?start={some time}&end={some time}` you can load a JSON array that looks like this:
[code]

And then you can use the API path `/api/heatmaps/{the heatmap id}` to download the *.pgm file for that event. I just added two motion zones to one of my cameras, triggered both and got an event with an associated heat map.

If I understand

[2020-01-20 16:12] peteytoo commented on #3
Daniel:
I have same versions.  I think the issue is you don't get heatmaps if you
have 'record always' - it must be motion only - which is not ideal because
I am trying to limit false positives, but without missing anything...

Pete

On Mon, Jan 20, 2020 at 10:52 AM Daniel Fernau <notifications@github.com>
wrote:

--
pseabrook@progressdev.com

[2020-01-20 16:20] danielfernau commented on #3
@peteytoo
My cameras are all set to 'record always' and I still get heatmaps – so that can't be the reason, right? But what else could it be? Sorry, I'm out of ideas here, at least for now. That definitely needs some additional research and testing...

[2020-01-20 16:41] peteytoo commented on #3
Do all your cameras only have a single zone? (default?)

On Mon, Jan 20, 2020 at 11:20 AM Daniel Fernau <notifications@github.com>
wrote:

--
pseabrook@progressdev.com

[2020-01-20 16:47] danielfernau commented on #3
Yes, all but one have only the default zone, the other one has two zones. All record continuously and I get heat maps for all of them, for some reason...

[2020-01-20 16:49] peteytoo commented on #3
I'll do some testing and get back to you...

On Mon, Jan 20, 2020 at 11:47 AM Daniel Fernau <notifications@github.com>
wrote:

--
pseabrook@progressdev.com

[2020-02-07 07:15] dcramer opened #8 "Relicense?"
Can we change to a permissive license (e.g. MIT)? I've basically rewritten the core at this point and realized its in GPL which is problematic for embedded software. It's likely that the rewrite means the license isn't a big deal anymore, but I'd love to contribute back if it makes sense.

[2020-02-07 07:58] dcramer commented on #5
Toying with this here:

https://github.com/dcramer/unifi-protect-video-downloader

API is quite different right now and is a normal python package, but you can do this:

[code]

I'm not sure if its foolproof yet, but it goes back to the start of the history that Unifi says exists (from bootstrap), and keeps a statefile to mark the last downloaded video. I'm also attempting to get it to only be ful

[2020-02-08 00:17] danielfernau commented on #8
Done. Now it's licensed under the MIT License. Enjoy :)

[2020-02-08 00:17] #8 closed

[2020-02-10 19:23] danielfernau opened #13 "Time-based renewal of the API access-key"
The API Token expiration date/time is part of the accessKey. The access key consists of three parts using a : as delimiter: {expiration_timestamp_milliseconds}:{user_id}:{access_key_data}.

Example: 1577836800000:{user_id}:{access_key_data} expired on Wednesday, January 1, 2020 12:00:00 AM GMT.

Now that we know this, maybe we can add a function to check if the key is still valid before initiating

[2020-02-16 13:07] danielfernau opened #14 "Make video file names more readable"
The UI file name scheme is `Front Door - 2-9-2020, 11.21.12pm.mp4`.
- `Camera Name - M(M)-D(D)-YYYY, H(H).M(M).S(S)pp.mp4`
- `{camera_name} - {%-m}-{%-d}-{%Y}, {%-I}.{%-M}.{%-S}{%p}.mp4`

The date and time in the file name equals start date and time of the clip.

Maybe use a zero-padded decimal format. Some suggestions:
- (12-hour clock)
  - `{camera_name} - {%m}-{%d}-{%Y}, {%I}.{%M}.{%S}{%p}.mp4`

[2020-02-16 13:17] danielfernau opened #15 "Change API URL in get_camera_list function"
https://github.com/unifi-toolbox/unifi-protect-video-downloader/blob/2c41599e4485d7d18f9352d45d5d3d1415c80c6a/protect_archiver/client.py#L254

Could be changed to: `bootstrap_uri = f"https://{self.address}:{self.port}/api/cameras`

The response from `/api/bootstrap` includes a lot of data that is irrelevant for retrieving a camera list. The `/api/cameras` path on the other hand only returns a list

[2020-02-16 13:22] danielfernau opened #16 "Discard downloaded files that are empty or too small"
Smallest possible mp4 file is around 262 Bytes according to https://github.com/mathiasbynens/small/blob/master/Mpeg4.mp4

Maybe discard all files smaller than that.

---

Related to issue #6

---

https://github.com/unifi-toolbox/unifi-protect-video-downloader/blob/2c41599e4485d7d18f9352d45d5d3d1415c80c6a/protect_archiver/client.py#L346-L367

[2020-02-16 13:26] danielfernau commented on #16
Additionally, remove the `--touch-files` option as soon as download error handling is reliable enough. This option was initially added to allow skipping problematic segments (error 500s).
https://github.com/unifi-toolbox/unifi-protect-video-downloader/blob/2c41599e4485d7d18f9352d45d5d3d1415c80c6a/protect_archiver/client.py#L408-L413

[2020-02-21 23:58] danielfernau commented on #13
The `accessKey` URL query component can be omitted if an `Authorization` header of type `Bearer Token` is present. PR #20 implements related changes to the code.

[2020-02-22 02:26] #13 closed

[2020-02-27 07:38] sirtastic opened #21 "When start is invalid (no video) it errors"
Is it possible to start downloading from the first available start time for a given date?

[2020-02-27 10:41] danielfernau commented on #21
In version 1.x it's not directly supported – but version 2.x will use the given start date/time or the first available date/time of recordings available for each camera, whatever comes first. This functionality has been partially implemented as part of the new 'sync' command in v2.0.0: https://github.com/unifi-toolbox/unifi-protect-video-downloader/pull/18/
It will also be available as part of the

[2020-03-15 15:56] danielfernau commented on #14
New file name scheme is likely to be:
`{camera_name} {camera_id_last_4} - {%Y}-{%m}-{%d} - {%H}.{%M}.{%S%z}`

---

- camera name
- 4 last characters of camera ID (to be able to distinguish between cameras with otherwise identical names)
- date in format yyyy-mm-dd
- time and time zone in format hh.mm.ss±zzzz

---

**Example:**
[code]

[2020-03-15 17:00] dcramer commented on #14
+1 on the filename. Keeps it human readable, unique (camera last 4) and helps make it easier to understand if you're working with other systems that are using TZs.

[2020-03-15 17:10] danielfernau commented on #14
Thanks! Definitely looks a lot cleaner compared to the old format – let's merge it.

[2020-03-15 18:13] #15 closed

[2020-03-15 18:13] #14 closed

[2020-04-05 09:46] #3 closed

[2020-04-05 09:47] #5 closed

[2020-04-05 09:56] danielfernau commented on #4
Please use the `protect-archiver events` command for downloading video files from cameras that are configured to record only motion events.

This command is available in the v2.0.0 branch: https://github.com/unifi-toolbox/unifi-protect-video-downloader/tree/v2.0.0

Usage is documented here (and in the software itself): https://github.com/unifi-toolbox/unifi-protect-video-downloader/pull/20

[2020-04-05 09:56] #4 closed

[2020-04-16 03:39] michaelyork opened #25 "Authentication doesn't work on UNVR"
I think the new UniFiOS setup breaks some assumptions around auth.

[2020-04-16 21:59] danielfernau commented on #25
Yes, I can confirm that there's a problem with the authentication on the new OS. The API is slightly different compared to the CloudKey. As soon as I have some time I'll have a look. Will post relevant updates here; thanks for creating the ticket!

[2020-04-16 23:24] michaelyork commented on #25
Thanks for taking a look! Excited to help test and use once you're ready.

[2020-04-22 07:59] ChadOhman opened #26 "Download failed with status 500 Internal Server Error"
Hello,

Amazing work with this - I can see the potential and this is potentially exactly what I'm looking for... however I'm running into the above error. Here's my run log:
[code]

I'm running Ubuntu 18.04.04. What am I doing wrong? Thank you for any help you can provide.

[2020-04-22 08:01] #26 closed

[2020-04-22 08:01] ChadOhman commented on #26
Problem solved - I was going too far back.

[2020-04-23 21:22] danielfernau commented on #26
Hi there,

thank you for opening (and closing 😄) this issue, and sorry for my delayed response.

Yes, if you go too far back or have cameras that are configured to only record motion, you can expect to get these `status 500` errors. If you add the `--ignore-failed-downloads` flag to your command line, the software will skip these segments. This is especially useful when you don't really know at wh

[2020-04-23 21:36] ChadOhman commented on #26
Yeah I should have thought of that off the start. I used the `--ignore-failed-downloads` flag after my first run, it seems corrupted video files are a common thing for Unifi Protect.

Appreciate all of the work you put into this! :)

[2020-05-17 15:27] evanpalumbo commented on #25
Any news on this? Going to try to troubleshoot in the next couple days, just making sure there wasn't any progress before I do

[2020-05-17 16:06] danielfernau commented on #25
Hi @evanpalumbo

Yes, yesterday we merged an update into the [v2.0.0 branch](https://github.com/unifi-toolbox/unifi-protect-video-downloader/tree/v2.0.0) which includes a docker-compose file for an API Proxy. This should allow the app to communicate with UDM-based installations. Documentation on how to get things up and running can be found in the README. Let us know if it works!

cc @michaelyork

[2020-05-31 17:45] tauren opened #29 "Event downloads broken in v2"
Awesome work on this project! Thank you!

I have v1 working properly for downloading blocks of time. I'd like to get event downloading working, so I'm attempting to run v2. However I am only getting errors. Any thoughts?

# Get events from all cameras

[code]

# Get events for one camera

[code]

[2020-05-31 23:48] danielfernau commented on #29
Hi @tauren – thanks for the great feedback and for reporting this issue!

Just pushed commit b375901e99927adbad47ef292113a8ce7f701954 which should resolve the second error. The Docker image has been updated accordingly, so you can test the new release right away (latest image is now [7f607dfb582e](https://hub.docker.com/layers/unifitoolbox/protect-archiver/latest/images/sha256-7f607dfb582e26d8ca0c

[2020-06-04 10:21] tauren commented on #29
@danielfernau I pulled the latest image with `docker pull unifitoolbox/protect-archiver`. Now when I specify `all` cameras as well as a single camera, it doesn't crash. I haven't tested extensively, but it looks like the problem is resolved. Thank you!

I did notice a couple other issues:

#  Local vs GMT time

Downloaded event filename and folders appear to be in GMT time, not the timezone specif

[2020-06-04 19:12] danielfernau opened #30 "Add option to select between local time and GMT in file name timestamps"
As suggested by @tauren in https://github.com/unifi-toolbox/unifi-protect-video-downloader/issues/29#issuecomment-638760817

[2020-06-04 19:12] danielfernau opened #31 "Add event count for every selected camera in event download mode"
As suggested by @tauren in https://github.com/unifi-toolbox/unifi-protect-video-downloader/issues/29#issuecomment-638760817

- [ ] change `{x} motion events found between {start} and {end}` to `{x} motion events available in total between {start} and {end}`
- [ ] add `{x} motion events found for camera {camera_name} between {start} and {end}` for every camera specified in the `--cameras="id_1, id_

[2020-06-04 19:12] danielfernau commented on #29
@tauren Thanks for testing and the feedback!

I just created two new issues for your suggestions. Both – being able to select between local and GMT for the file name timestamp as well as making the event count in console output clearer for individual cameras – are very good ideas.

I'll close this issue for now as it seems to be resolved. But feel free to re-open it if necessary.

[2020-06-04 19:12] #29 closed

[2020-06-07 21:54] aetaric opened #32 "skip existing files flag does nothing"
I'm running the latest 2.0.0 from HEAD. Multiple runs of `protect-archiver events` continually redownloads the files despite them already existing on disk.

I'd rather have this flag working as I'm downloading events to a system to stage them for transfer into S3 for long term off-site storage.

[output.txt](https://github.com/unifi-toolbox/unifi-protect-video-downloader/files/4743068/output.txt)

[2020-06-07 23:55] danielfernau commented on #32
Hi @aetaric – thanks for the hint!

The code in the `events` part of the software to handle the `--skip-existing-files` flag was missing entirely. It only worked for the `download` command.

Resolved in commit 37d327ef38dd67daa787b053e494ca2550ae1712.

[2020-06-08 00:45] aetaric commented on #32
pulled down latest master and rebuilt wheel using poetry, working perfectly now! thanks!

[2020-06-08 00:45] #32 closed

[2020-06-08 00:48] danielfernau commented on #32
You're welcome, thanks for the feedback!

[2020-07-25 14:49] TokugawaHeavyIndustries opened #33 "Can't download video with latest version of Protect on UDM-Pro"
Using both download and sync, the program errors out and only downloads a few minutes of footage:

`mattperry@docker-temp:~/unifi-protect-video-downloader$ sudo docker run --network=unifi-protect-video-downloader_default --volume /mnt/saturnv/moxie:/downloads unifitoolbox/protect-archiver sync --cameras="xxxxxxx" --address="unifi-udm-api-proxy" --username xxxxxxx --password xxxxxxxx --ignore-faile

[2020-07-27 22:55] danielfernau commented on #33
Hi there!
Thanks for reporting this issue, I'll look into it as soon as I find some time to do so.
For me this error looks like it might be caused by a non-existent video segment on the UDM, which in turn results in the downloader module failing while trying to locate/download it.
Please keep in mind that using the software in combination with the UDM proxy might not work for some system setups an

[2020-07-28 13:33] touche112 commented on #33
Hey @danielfernau , thanks for the reply back.  I am happy to assist in troubleshooting or testing if needed.

I did try to download the segment in question from the web UI and it downloaded ok.

[2020-08-30 22:33] disruptivepatternmaterial opened #34 "Ignores one of the times"
passing in  --start="2020-08-29 18:24:55-0400" --end="2020-08-29 18:26:55-0400" and instead I get video from 2020-08-29 18:24:55-0400 to 2020-08-29 19:00:00-0400

but it seems to randomly (I cannot figure out the pattern...) where it will peg the start time to the hour vs the time I passed in.

so instead of getting 5 min or 8 min I get these hour-long clips

[2020-08-31 16:17] danielfernau commented on #34
Hi @ntableman!

Thanks for reporting this issue. Since this tool is primarily designed for downloading larger time spans at a time (i.e. multiple hours, days or even weeks) to be able to archive them outside the Protect system, we have not (yet) focused on implementing it in a way that reliably allows downloading files which are only a few minutes long.
You might want to use the Protect web interf

[2020-09-21 17:27] ntableman commented on #34
Yeah, the issue here is I want 1 min of the action so I do not have to pour over days of video. Seems like a pretty normal use case to me, but I get your point as to where your focus is. It is really random. I always ask for 60 seconds, sometimes I get 5 min, sometimes an hour, sometimes 5 hours. I've this connected up to some ML work that picks out cars and people send an mqtt message about the t

[2020-09-21 17:33] ntableman commented on #34
HAHA, this explains it.

 help=(
        "Download range end time. "
        # TODO(danielfernau): uncomment the next line as soon as the feature is implemented
        # "If omitted, the time of the last available recording for each camera will be used."
    )

[2020-09-26 15:02] ntableman commented on #34
I thought it was a bug, turns out you are doing it on purpose line 218 of main, seems like if you just make a flag that uses that section or just ignores it, this is an easy change. I am testing it out now.

[2020-10-19 09:21] jsbenjamins commented on #25
Dear Daniel,

perhaps related, so posting it here. I ran your version one code and it worked fine in terms of downloading mulitple one hour recordings from a Unifi Protect system, but all of a sudden I am getting this errors 10060 when the version one script calls urllib3 in doing the authorization POST request (it mentions failing due to max retries exceeded, but I'm guessing it is actually the s

[2020-10-19 17:00] danielfernau commented on #25
@jsbenjamins

Hi Jeroen
Yes, these issues are closely related. A few days ago I've started experimenting with a different authentication method: Session-based instead of Token-based. This might solve the current problems around authentication.

However, it's still a work in progress and not yet ready for testing. Some code cleanup is required before I can really get started on implementing all the

[2020-10-20 11:29] jsbenjamins commented on #25
@danielfernau

Hi Daniel,

thanks for getting back to me and looking forward to the new solution. Greatly appreciated that you took the effort to build something that should have been basic functionality of the provided software by Unifi.

For now, my bit-by-bit copied code and hardcoding some addresses seems to work for me (the second edit). I also for good measure, not sure whether this affects

[2020-10-21 18:01] ntableman commented on #33
I think the issue is that you have hardcoded the port, remove that and it works.

[2020-10-21 18:02] ntableman commented on #34
wow you have a lot of fun in there to do that hour to hour thing - I yanked it all out and it is working!

[2020-10-21 19:12] danielfernau commented on #34
Ah, yes. For my use-case it originally was important to have the files aligned to full-hour-segments, so I wrote that alignment thing for when the start/end from the command line is not exactly a full hour. In version 2.x.x+ there'll be probably an additional command line parameter to enable/disable the alignment part. Thanks for the update!

[2020-10-21 19:21] danielfernau commented on #33
@ntableman As far I remember there's no hard-coded port, neither in v1.x nor in v2.x -- there's only a default port (7443) that is being used if the `--port` parameter is not provided set via command line. We're currently working on replacing and improving the authentication/session part anyways, so all that should be resolved in one of the next versions 🙂

[2020-10-22 18:29] superforno opened #35 "Non-monotonic timestamp provided."
Using v 2.x I've got the following result on some files, downloading with events command:
`docker run --network=unifi-udm-api-proxy_default --volume C:/Users/super/UnifiProtect/downloads:/downloads unifitoolbox/protect-archiver events --address="unifi-udm-api-proxy" --username="***" --password="***" --start="2020-07-19 00:00:00" --end="2020-07-21 23:59:59" /downloads`
Setup is **UDMPro** proxyed a

[2020-10-24 22:46] danielfernau commented on #35
Hi @superforno

Thanks for opening this issue. The error you encountered occurs from time to time – but I wasn't yet able to figure out why.
Right now I'm primarily working on issues around authentication between the tool and the Protect server.

[2020-10-26 10:31] superforno commented on #35
Ok, meanwhile I've experienced another error, I'll try again and see, maybe I'll open a different issue.

[2020-10-28 15:07] superforno opened #36 "AttributeError: 'NoneType' object has no attribute 'get'"
Hello, using UDM-Pro and v. 2.0 with events command, I'm having this new error:

`Downloading motion event 9dd1 at 2020-10-11 02:21:43.411000 for camera 'Esterno F' (5f2aec5900205f0387001a0d) to /downloads/2020/10/11/Esterno F (1a0d)/Esterno F (1a0d) - 2020-10-11 - 02.21.43.mp4
Traceback (most recent call last):
  File "/usr/local/bin/protect-archiver", line 8, in <module>
    sys.exit(main())
  F

[2021-01-04 20:16] danielfernau commented on #36
Related to #33

[2021-01-04 20:33] #21 closed

[2021-01-04 20:34] danielfernau commented on #21
v2.0.0 has been merged into the master branch: #37

[2021-01-22 17:04] skotman01 opened #38 "Username of local Protect user: Aborted!"
Using CloudKey Gen2 +, running docker image on ubuntu linux. When running no matter what user I enter it get the following error:

Username of local Protect user: Aborted!

[2021-01-23 20:05] tauren opened #39 "Apple M1 silicon support"
I just received a new M1 MacBook Pro and am trying to get this project running. I installed Docker for Mac M1 Preview. And then I ran this:

[code]

It would be nice to natively support `linux/arm64/v8` and not show the warning.

[2021-01-23 20:36] tauren opened #40 "Unsupported operand type error in get_camera_list"
I've used the v1 branch of this project in the past successfully on an older Mac. I'm now trying to use the current recommended docker-based solution on my new M1 Mac. I believe I have things configured properly, as it appears to get the camera list. But it then fails with this error:

[code]

Running on a CloudKey with 1.1.6 firmware.
Protect Controller 1.13.7 Web UI 1.22.2

[2021-01-24 23:25] danielfernau commented on #39
Thanks for the suggestion! I'll look into building an ARM/M1 version in a bit and post updates here.

[2021-01-24 23:49] danielfernau commented on #40
Not sure if that's an architecture problem or just an issue with the code itself. The `TypeError` could theoretically also be caused by an unexpected reply from the Protect system. I'll have a look at it -- thanks for reporting!

[2021-01-25 10:04] lubikx commented on #38
@skotman01 i recently upgraded cloudkey gen2 firmware and it installs unifi os or something like that, the api is now in different location and authentication is not token based but cookie based (you can check if your protect controller is running on port 7443 or just /protect in web browser)

Try to follow the instructions as with UDM: https://github.com/unifi-toolbox/unifi-protect-video-download

[2021-01-25 10:11] danielfernau commented on #38
Good suggestion, @lubikx ! If the new OS on the CloudKey behaves the same compared to UDM Pro, that should work.
@skotman01 : let me know if that solves the auth problem for you -- in case it does, I'll update the docs and the README accordingly.

[2021-01-25 14:41] lubikx commented on #38
@danielfernau I tried to make it work, authentication and camera list was working but then the proxy docker container was throwing errors when trying to actually download the videos. @skotman01 let us know if it works for you. I was actually using v1 main.py script still so I made it work by small changes in the v1 script, it is actually very simple (just use port 443, for authentication use /api/

[2021-02-01 20:18] CpBobette opened #41 "Outside of Docker: Download failed with status 500 Internal Server Error"
I want to run the tool as a script and not within docker.

I did checkout the commit marked for the dockerhub release and built the .whl using poetry and installed it in a venv, then I tried running the script but I keep getting this error.
The data exists on the CK because when I run with docker I download the file when using the same arguments.

Did I miss anything in the ''build'' process ?

I

[2021-02-02 15:31] CpBobette commented on #41
The timestamps in the video download GET requests are not same when running in docker vs diretly in python.

[code]

[2021-02-02 15:58] danielfernau commented on #41
Hi @CpBobette

An error 500 indicates that something went wrong internally on the CloudKey, in most cases because the system was unable to handle the request within the Protect software. A common reason for this would be that you're trying to download footage from a specific camera when there are no recordings available for the requested time frame (see also #26).

As for the differences between t

[2021-02-05 09:30] tauren commented on #39
Perfect, looking forward to your progress! I'd love to get this working on my new Mac.

[2021-02-05 09:34] tauren commented on #40
Perfect, looking forward to your progress! I'd love to get this working on my new Mac.

[2021-02-22 22:15] danielfernau commented on #39
Hi @tauren

In addition to `linux/amd64` images, there will also be `linux/arm64` images for every build from now on.
The first `arm64` image is already available (link below) if you want to try it out. Let me know if it works; I'll have a look at #40 in case the issue persists with the new image architecture.

🔗 [Docker Hub (unifitoolbox/protect-archiver:latest)](https://hub.docker.com/layers/uni

[2021-02-24 16:43] tauren commented on #39
@danielfernau Thank you. I did the following to upgrade, and it no longer crashes or shows architecture warnings. However, all it does is immediately create empty files and then exit.

[code]

[code]

Any idea why it wouldn't be downloading content?

[2021-03-06 21:15] tauren commented on #39
Small nudge... :)

I'd sure like to get this working. Any thoughts?

[2021-03-07 01:29] danielfernau commented on #39
Sorry for the late reply and thanks for your patience!
Sadly, I don't have enough free time at the moment to properly maintain my projects, fix stuff or reply to issues as fast as I would like to. My day job's workload almost doubled over the past ~1 year due to the whole pandemic situation. Really hope things return to normality soon...

I tried recreating the issue you're running into just now.

[2021-03-09 03:53] tlalexander opened #43 "AttributeError: 'NoneType' object has no attribute 'minute'"
Hello,

Thank you for making this software!

I have a UNVR I would like to back up footage from. It seems like I need to follow "UDM based" setup?

I start the proxy and then run the archiver.
[code]
I removed some PII, but nothing of consequence.

I originally downloaded the docker image from docker hub, but perhaps I can try building it myself with some modifications to the code for debugging. A

[2021-03-13 04:41] tlalexander commented on #43
Okay I made a bit of headway.

I can add print statements to the python and run it and see whats going on in more detail.

It seems that various parts are working. It succeeds with auth and reading camera names, as we saw in my original post.

But when it tries to download footage, the response comes back with a 500 status code.

Here is the URL it tries to download, with my camera ID blanked out:

[2021-03-13 05:53] tlalexander commented on #43
Uh, wow okay I got something working! I can download footage now, but it's a bit of a hack.

Most everything is kept as default. I still use the proxy to connect and that connects and gets camera names and other metadata nicely.

But I changed the download URL to download directly from my UNVR using the second URL format above. In the python code I changed this line:
https://github.com/unifi-toolb

[2021-03-14 18:20] danielfernau commented on #43
Thanks a lot for the amount of work you put into figuring out and documenting what causes these Status 500 errors, @tlalexander – a very thorough and clear summary!

A while back I started working on replacing the authentication part; branch [danielfernau/v2.0.1/improve-client-authentication](https://github.com/unifi-toolbox/unifi-protect-video-downloader/tree/danielfernau/v2.0.1%2Fimprove-client-

[2021-05-02 11:45] danielfernau commented on #35
Hi @superforno

A new release – [v2.0.1](https://github.com/unifi-toolbox/unifi-protect-video-downloader/releases/tag/v2.0.1) – is now available. Please have a look if the problem you've reported here still occurs.

[2021-05-02 11:45] danielfernau commented on #36
Hi @superforno

A new release – [v2.0.1](https://github.com/unifi-toolbox/unifi-protect-video-downloader/releases/tag/v2.0.1) – is now available. Please have a look if the problem you've reported here still occurs.

[2021-05-02 11:46] danielfernau commented on #33
Hi @TokugawaHeavyIndustries

A new release – [v2.0.1](https://github.com/unifi-toolbox/unifi-protect-video-downloader/releases/tag/v2.0.1) – is now available. Please have a look if the problem you've reported here still occurs.

[2021-05-02 11:49] danielfernau commented on #25
Hi @michaelyork , @evanpalumbo and @jsbenjamins

Thanks for your patience!

A new release – [v2.0.1](https://github.com/unifi-toolbox/unifi-protect-video-downloader/releases/tag/v2.0.1) – is now available. The tool should now be fully compatible with Protect servers on UniFi OS systems. Let me know in case you encounter any issues with the new version.

[2021-05-02 11:54] danielfernau commented on #39
Hi @tauren

Thank you for your patience, I've finally managed to update some parts the tool. It should now be more reliable and fully compatible to UniFi OS-based Protect systems.

The new release – [v2.0.1](https://github.com/unifi-toolbox/unifi-protect-video-downloader/releases/tag/v2.0.1) – is now available for download, for linux/amd64 as well as linux/arm64 platforms. Please have a look and l

[2021-05-02 11:58] danielfernau commented on #38
Hi @skotman01 and @lubikx

Thanks for your help and patience. I've now updated the tool to be compatible with the new UniFi OS firmware. Also, the `unifi-udm-api-proxy`is no longer required. It now runs out-of-the-box using [just one Docker command](https://github.com/unifi-toolbox/unifi-protect-video-downloader/tree/c06000e9e2d423651ce73c0669dca06056a6ba14#for-protect-servers-with-unifi-os).

The

[2021-05-02 17:49] danielfernau commented on #43
Hey @tlalexander

The first free weekend in months – I was finally able to implement the long-overdue changes in my app 😄

Release [v2.0.1](https://github.com/unifi-toolbox/unifi-protect-video-downloader/releases/tag/v2.0.1) is now available and should now be fully compatible with the new UniFi OS authentication mechanism as well as the updated Protect API.

The UDM API Proxy is no longer required

[2021-05-02 23:07] tlalexander commented on #43
Hey thats great! I used my hack to download a few important videos but I have really wanted this to be a more reliable system I can run all the time. I'm glad you did this! Note that my UNVR system is now telling me to update to some new interface they have released. 😭😭😭

But I will avoid the system update and give this a test!

[2021-05-03 09:01] danielfernau commented on #43
Actually, the new UI isn't that bad. I quite like it, to be honest. Works fine on my system over here (UDM Pro) and makes the interaction with cameras, views and events a bit faster and easier.

The new network controller UI however, while awesome design-wise (in my opinion), has missing features and user experience flaws all over the place 😬 So I totally understand why you might not want to upgra

[2021-05-03 17:39] superforno commented on #35
Thanks, I need some time to check, busy days, but I will let you know as soon as possible!

[2021-05-04 17:02] danielfernau commented on #35
Sure, no worries. It took me way too long before I got around to providing a fix for these issues in the first place – so take your time 😄

[2021-05-06 10:24] jsbenjamins commented on #25
Dear Daniel,

thanks for the update. Quick question from my side. I am still using the 1.x version of your script in combination with Cloudkey Gen 2 and Unifi Protect 1.12. Do you know whether upgrading Unifi Protect to version1.13.7 will break your script? In other words, has anything changed in the export or authorisation methods in the newer version of Unifi Protect? Looking at the changelog I

[2021-05-06 18:16] danielfernau commented on #25
Hello @jsbenjamins

You're welcome! As for your question: I think unless you update the CloudKey's firmware, you should be fine. The current FW would update the UCK2+ to UniFi OS, which, by the way, works quite well – at least with my separate, secondary test configuration over here (I'm primarily using a UDM-Pro setup). Updating it to the latest Protect app version the UCK WebUI offers you – but

[2021-05-06 18:19] #25 closed

[2021-05-09 05:22] patatesboy opened #49 "TypeError: __init__() got an unexpected keyword argument 'port'"
Hello,

I am using a UDMP, unifi protect version 1.17.3, unifi OS version 1.9.0.

I was able to connect and download just fine with the `events` and `download` options, but when I use `sync`, I get the following error.

I enter:
`docker run --volume path/to/destination:/downloads unifitoolbox/protect-archiver sync --address 192.168.1.1  --username fakeuser --password fakepassword /downloads
`

`Tr

[2021-05-09 16:56] #31 closed

[2021-05-09 16:57] #49 closed

[2021-05-09 17:25] danielfernau commented on #49
Hi @patatesboy

This was caused by an issue within the source code, not by you. 🙂
A change to the 'ProtectClient' module in v2.0.1 without updating its usage in the 'sync' command resulted in the `unexpected keyword argument 'port'` error. I've just published an update that resolves this issue: [v2.0.2](https://github.com/unifi-toolbox/unifi-protect-video-downloader/releases/tag/v2.0.2)

Not a stu

[2021-05-09 23:02] patatesboy commented on #49
Thank you so much, that worked beautifully. This is such an awesome program you've made.

[2021-05-10 18:33] danielfernau commented on #43
Thanks for the feedback @las3r !
In that case I'll keep the issue open and move it to the next milestone for further investigation.
Which OS and Python version are you using? (it could be a platform-specific problem)

[2021-05-10 19:13] las3r commented on #43
I'm using Windows Server 2019 Datacenter edition build 1809 (dec 2020).
Python 3.9.0 (tags/v3.9.0:9cf6752, Oct  5 2020, 15:34:40) [MSC v.1927 64 bit (AMD64)] on win32

[2021-05-17 19:15] stephenjamieson opened #53 "Archive only smart detections"
It would be awesome if you could archive smart detections such as person or vehicle only.

[2021-05-17 19:36] danielfernau commented on #53
Great suggestion, thanks! Will definitely look into this in the near future.

[2021-05-31 17:23] AnthonyTTaylor opened #54 "Specifying Camera doesn't work"
Was trying to download all footage from one camera named "Garage"
When passing in the --cameras flag with "Garage" the script runs, prints out the list of cameras and then terminates.
No files downloaded.

Listing "all" for camera tag starts the download. Confirmed files are available to download.

Protect Versions 1.18.1
Downloader Version 2.0.2

[2021-05-31 17:45] danielfernau commented on #54
Hi there!

The `--cameras` option takes either the input `all` or a comma-separated list of camera IDs, but not names. In the camera list you should see both, the name as well as it's ID.

Try using something like `--cameras="a1b2c3d4e5f6abcdef123456`, and replace `a1b2c3d4e5f6abcdef123456` with the ID of your `Garage` camera - that should work.

[2021-05-31 18:28] AnthonyTTaylor commented on #54
Interesting, there should be a different flow around this, as you won't be able to get the ID's until first run, only to have to rerun the program.

[2021-05-31 18:58] danielfernau commented on #54
Yeah, I agree. Could be easier. I might add something in one of the next versions that makes camera selection more straightforward.

But: you can also always get the camera ID(s) from the Protect Web UI. Open it in a web browser and log in. On the left side, click on `Devices`. Then select one of your cameras from the list. Now the browser address bar looks something like this: `https://<ip-of-pro

[2021-06-01 19:29] nittanygeek commented on #34
How does one do this?  I need this for extracting specific times as well, and it's trying to pull 45 minute long videos for what should be much shorter.

[2021-06-01 19:47] danielfernau commented on #34
@nittanygeek
The code in question can be found here: https://github.com/unifi-toolbox/unifi-protect-video-downloader/blob/master/protect_archiver/utils.py#L44-L72

I'll add a few command line options with the next release to disable the 1-hour-alignment as well as to allow downloading shorter files. At the time of writing the tool I needed each file to be aligned with the full hour, that's why thi

[2021-06-01 20:11] nittanygeek commented on #34
Perfect, thanks for pointing me in the right direction!  I just slapped a "yield start,end" in place of the previous code, rebuilt the container and it's working perfectly!  Thanks much!

[2021-06-06 20:49] #41 closed

[2021-06-06 20:52] danielfernau commented on #40
Solved a while ago in PR #42

[2021-06-06 20:52] #40 closed

[2021-06-06 20:57] danielfernau opened #56 "add option to select cameras by name"
As suggested in #54, implement selection of cameras by their name, not just their ID, when using the `--cameras=` command line option.

[2021-06-06 21:19] danielfernau opened #57 "add option to disable 1-hour-alignment of files"
as mentioned in https://github.com/unifi-toolbox/unifi-protect-video-downloader/issues/34#issuecomment-852400698

[2021-06-21 17:16] SebDominguez commented on #34
I'm also looking forward on this issue as I'm interested in downloading only 30 secondes of footage when I have sensors reporting an events here using homeassistant

[2021-07-07 16:15] benjholla opened #58 "Getting snapshots of specified timestamp"
The protect API has a snapshot endpoint parameter of `ts` `/cameras/{camera_id}/snapshot?ts={timestamp}` but currently the snapshot command hardcodes the current time. It would be great if we could specify a timestamp for which to retrieve the snapshot.

Sadly, playing with the API it seems this parameter is actually ignored and I always get a latest camera snapshot (re-requesting the same timesta

[2021-07-08 22:20] danielfernau commented on #58
Great suggestion, thanks! Will definitely look into that at some point.

If I remember correctly, there is an endpoint somewhere that can return snapshots for specific timestamps – but it's not the `snapshot` one that is part of each individual camera path...

A first guess from my side would be that the `ts` parameter is not used for specifying a snapshot time but rather to circumvent browser/app

[2021-07-08 22:47] benjholla commented on #58
Your theory about the `ts` parameter to avoid stale browser caches makes total sense. The `timelapse` endpoint does allow you to get a timestamped snapshot, but its using websockets and it looks like a bit more work to get. I haven't found anything easier yet. I was thinking it'd be neat to use this to make a retroactive timelapse of a camera (retroactive in the sense that it has already been reco

[2021-07-11 02:39] benjholla commented on #58
I poked around some more through a combination of inspecting network requests on the `https://<server>/protect/timelapse/<camera_id>` page and looking at the web sockets, but its not clear to me how to get at the snapshots for a given timestamp.

Moving the time bar slider around in the UI generates requests to a few "proxy" APIs.

- `https://<server>/proxy/protect/api/ws/timelapse?camera=<camera>

[2021-07-11 07:25] benjholla commented on #58
Ok the quick and dirty way of download video and extract first frame works pretty good. If you set start time and end time to be the same the resulting video ends up being a few seconds and around 2mb downloads. If you're local this probably isn't a big deal.

Here's some Java code that calls ffmpeg to get the first frame.
https://github.com/benjholla/UnifiProtectClient/blob/main/UnifiProtectClien

[2021-07-28 03:53] arretx opened #59 "Unclear about how to run this tool. Need help."
UDMPro running UniFi OS Version 1.10.0
IP Address: 192.168.1.1

Ubuntu 18.04 on a standalone box at 192.168.1.110.

The current Readme suggests that I run:

`docker run --volume /path/on/host/machine:/downloads unifitoolbox/protect-archiver --help`

There's no mention of python commands like all of the forum discussions that I've combed through.  This, and one other thing confuses me.

I don't kno

[2021-07-28 04:58] arretx commented on #59
Update.

I've managed to install docker in Ubuntu 18.04 and I figured out how to decipher a relatively cryptic command line format to begin transferring files...however...

Here is an example of what I'm seeing in terminal:

[code]

My intended result was to have the files downloaded to my Ubuntu box in the /tmp folder.  What's actually happening is there's a mass of mp4 files being created ON the

[2021-07-31 13:54] MTRKhn opened #60 "ARMv7 version"
Running this on a Pi4 would be great, would it be possible to have an ARMv7 version ?

[2021-07-31 13:59] #60 closed

[2021-08-01 11:44] danielfernau commented on #59
Hi @arretx – sorry for the late reply!

There are two ways of using this tool – the "easy" way by using the pre-configured Docker image, and the slightly more complicated way of using the Python script directly. Let me know if you're interested in the details and I'll summarize them for you.

For the Docker image the command works as follows:
- `docker run` is quite self-explanatory
- `--volume /p

[2021-08-02 01:29] arretx commented on #59
Thanks for the details.  There's one thing that I've discovered through
this script.  MP4 files aren't compatible with Davinci Resolve, so I can't
import them to use them in the NLE.  I can play them natively in OSX.

Also, after I figured out the command line I needed, I discovered that the
folder I was designating in the command line was actually buried in the
docker data files, which posed an e

[2021-08-05 13:00] Johnny5AtGithub opened #61 "problem downloading from UDM PRO, 2 cameras"
Hi,
I may of course have made a mistake in the startup command, but since it does read the camera list i think a connection is indeed possible, but later on when downloading video it fails due to a timeout.

`ubuntu@NASpberryMedia1:~$ docker run --name unifitoolbox --rm --volume /Data/unifitoolbox:/downloads unifitoolbox/protect-archiver download --address 192.168.0.1 --username USERNAME --passwor

[2021-08-08 20:49] danielfernau commented on #59
You're welcome! Glad you were able to get most things figured out so far. I'm using DaVinci Resolve myself from time to time – but haven't tried it in combination with files exported from UniFi Protect...

My solution to the storage problem is a NFS share mounted to /mnt/protect inside the VM and pointing the tool's output to that directory. Works well but needs a fast network and storage server.

[2021-08-08 20:49] #59 closed

[2021-08-08 21:16] danielfernau commented on #61
Hi @Johnny5AtGithub – apologies for the delayed response.

I'm not entirely sure what causes this... As you've already mentioned, based on the logs the tool is able to log in and read the camera list, meaning that the communication on network level as well as API access and UDM local user permissions seem to be working fine.
It might be that either the Raspberry Pi or the UDM are a bit slow for so

[2021-08-08 21:21] danielfernau commented on #58
Thanks a lot! 👍
I'll have a look at your discoveries and code soon and hope to be able to implement this functionality in the near future. Will post related updates here.

[2021-08-08 22:01] Johnny5AtGithub commented on #61
i tried your addition. i git the errors below very fast. then i changed "--wait-between-downloads 1" to 120 seconds and then the output below came, exact same log, just a lot slower :D
When i download via the web interface in a timeslot of 1 hour, it at least started well within the 2 minutes timeout.
since http500 suggests something is going wrong in the UDM, but all other operations including ma

[2021-08-09 02:17] arretx commented on #59
Can you share your cronjob command so I can adapt it to fit my server?  I
run a Truenas box as my storage server and I use Lightroom Classic to
catalog my media, so I can dial it in to be pretty automated.  The worst
part is the video file conversion.  The hour-long videos take forever to
convert from mp4 to *.mov, and they grow in size quite a bit when that
happens.

I think I'll set the auto-del

[2021-08-12 20:33] danielfernau commented on #59
Sure, here's a crontab line that uses a rolling date/time frame within the command itself:
<pre>0 0 * * * /usr/bin/docker run --volume /tmp:/downloads unifitoolbox/protect-archiver download --address=\"192.168.1.1\" --username=\"name-of-your-local-UDM-user\" --password=\"yourpassword\" --use-subfolders --start=\""$(date --date="-1 day" "+%F") 00:00:00"\" --end=\""$(date --date="-1 day" "+%F") 23:5

[2021-08-12 21:07] danielfernau commented on #61
Yeah, well... `--wait-between-downloads` pretty much does exactly what it's name implies... 😄 But under normal circumstances you don't need that one, so you could theoretically remove it.

Now that we know that it's not actually a timeout issue I would think that the `channel=0` in your manual download URL might somehow be important for the UDM to be able to start the export correctly. I haven't t

[2021-08-13 17:07] Johnny5AtGithub commented on #61
Hmmm that is interesting.
Initially i though the doorbell was the problem since the movie it first downloads is in the night and when manually downloading an hour in the night resulted in a 2gb file. but when i ran the command for the 1 camera it ran fine! so naturally i rand the same command for the other camera and that runs fine as well!!

so seems there is something wrong running for both came

[2021-08-17 19:52] danielfernau commented on #61
Interesting for sure! Thanks again for sharing your observations – I'll see what I can do once there's a bit more free time on my end. Sounds a bit like the API is returning additional/unusable/invalid camera IDs if they're not manually provided.

I'll leave this issue open for now and add updates if there's any progress to share. Also, good to hear that you've found a workaround!

[2021-08-17 23:16] knarfknarf commented on #61
@danielfernau
**Thanks for this great tool!**

I am seeing similar issue as Johnny above has faced. Differences are I am using the sync function, not using docker, and running Protect on UNVR. It's ran on a M1 Mac mini with homebrew python 3.9.

Below are the outputs. This would happen pretty much on every download (I have 12 cameras, set to sync footage every 6 hours). While this fails, the UNVR

[2021-08-17 23:28] Johnny5AtGithub commented on #61
I don't remember exactly if it is available for the sync feature but i could try and set the timeout to 120 seconds.
I needed to do that because 1 hour of night footage from the doorbell was 2gb and the protect controller takes too long to respond with the data

[2021-08-25 16:30] arretx commented on #59
Thanks for this!  I'll have to take some time to adapt it to mine and
figure it out.  ;).

I actually started using Zoneminder on my NAS which writes directly to my
shares in MP4 format and I'm getting the final product via RTSP rather than
having to rely on Unifi's system...

...mostly this is because Ubiquiti is so short stocked on any of their
cameras and I can't find any others and need *somet

[2021-09-12 11:43] thx4-jh commented on #59
is it possible to run the docker image directly on the unifi dreammachine pro? i managed to download it from docker. (kind of sad if not.) but i always get errors when trying to run a command.

[2021-09-12 13:03] thx4-jh opened #63 "No cameras found"
Hey there,

i try to figure out why i cannot download any data from my UDMP. I checked via interface and there is data for the specific time and i can download it from the interface.

i run Docker for Mac.

xxxx@XXXX ~ % docker run -v /var/lib/docker/volumes/730ee565bf8c8945422cf50dbc507ecc06c3e583903dd0849179336c8e2f7a07/_data:/downloads unifitoolbox/protect-archiver download --address 10.0.0.1 -

[2021-09-13 16:25] danielfernau commented on #63
Hi there!

Are (some of) the cameras offline? There's a bug that, last time I checked, causes offline cameras not to be returned from the API, resulting in the tool not knowing that they're there.
Other than that it could also be either some kind of permissions issue or a more general problem with (or a change in) the API itself.
What's your current Protect version? Do you have G3 Instant cameras

[2021-09-13 16:32] danielfernau commented on #59
@thx4-jh Theoretically, yes, that should be possible. Everything the tool needs is included with the container and it does not really depend on anything on the host-side. For somewhat persistent storage on the UDMP you can create a directory within `/overlay/root_ro/mnt/data_ext/`, if I remember correctly, and map the Docker volume(s) there.
But I have neither tried nor verified that the tool work

[2021-09-15 12:37] thx4-jh commented on #63
Its up and running. Actually the cameraas where unplugged. So easy. Thx.

Did you ever try it with docker for mac? Its working fine but i do not know how to get the data out of docker. ^^is there a possibility to add a process working indicator to the cmd line? maybe for each file? filesize and then percentage?

[2021-09-16 20:32] danielfernau opened #64 "Add download progress indicator"
**Feature request**
- add indicator for individual file download progress (by file size)
- if possible, add indicator for total download progress (by file size or by number of recordings)

[2021-09-16 20:52] danielfernau commented on #63
Nice! Yeah, hopefully I can fix that soon so that all cameras, even the ones that are offline, will show up.

Yes, I'm using Docker for Mac during development. Have a look at the 'File Sharing' tab in Docker Desktop --> Settings --> Resources (https://docs.docker.com/desktop/mac/#file-sharing)
Docker on macOS runs within a VM in the background, that's why you can't natively access your host's path

[2021-09-17 08:46] thx4-jh commented on #63
Great. Docker takes ages to startup at my MacBook. And trust me it is not a performance issue. 😅

THIS EMAIL WAS SENT FROM A MOBILE DEVICE. - JH // 016091977131 // ***@***.***
________________________________
From: Daniel Fernau ***@***.***>
Sent: Thursday, September 16, 2021 10:52:57 PM
To: unifi-toolbox/unifi-protect-video-downloader ***@***.***>
Cc: thx4-jh ***@***.***>; Author ***@***.***>
Sub

[2021-09-17 21:17] JimReprogle opened #65 "Active motion events cause motion_event["end"] to be NoneType in get_motion_events_list.py"
Ran into an odd, albeit infrequent scenario. It appears that a motion event that is still ongoing triggers a latent bug in get_motion_event_list.py on line 34. In the test scenario, there was a camera that had a flag waving in its field of view. Therefore the value of ```motion_event["end"]``` was ```"None"``` because the motion event had not ended yet. To test this scenario, I added a conditional

[2021-09-20 16:40] ahrenstein opened #66 "Add AWS S3 Support"
I would love to be able to schedule this to run as a container daily to sync new footage to AWS S3 for longer retention times. Would it be possible to add S3 support and possibly scheduling as well? (ie: Grab the past 24 hours every day at midnight)

[2021-09-21 18:07] danielfernau commented on #66
Hi there!

Assuming you're running the tool on some kind of Ubuntu/Debian-based Docker host, you might want to check out [this post](https://github.com/unifi-toolbox/unifi-protect-video-downloader/issues/59#issuecomment-897949011) on how to set up a Cron task that should be able to do exactly what you're looking for, and also have a look [at this project](https://github.com/s3fs-fuse/s3fs-fuse) an

[2021-09-21 20:35] ahrenstein commented on #66
Thanks! I'll give that a shot.

[2021-09-23 06:02] awhiskin opened #67 "No cameras found"
Hey there,

Just having some trouble with the tool - I've managed to get it working (I think..) in Docker, but now getting the following response:

`docker run --volume /tmp:/downloads unifitoolbox/protect-archiver download --address 172.16.31.1 --username="redacted" --password="redacted" --use-subfolders --start="2021-08-31 07:00:00" --end="2021-08-31 17:00:00" /downloads`

`Getting camera list`

[2021-09-23 18:42] danielfernau commented on #67
Hi there!
Are your cameras by any chance offline while you're trying to download files? There's a known bug where the API only returns cameras which are online at the time of running the tool, and therefore (until I can fix this) only video clips of online cameras are being downloaded.
If that's not the case and your cameras are online but you are still unable to download clips, let me know and I'

[2021-09-23 23:17] awhiskin commented on #67
@danielfernau hi, thanks for the response :) no, they're definitely online. Going to the URL directly in the browser definitely returns info about the cameras (`https://<address>/proxy/protect/api/cameras`)

[2021-09-27 18:24] danielfernau commented on #67
Sorry for the delay :)

Alright, I see. That could also be a permissions issue. Your local user on the UDMP/UNVR needs to have "view" access to the Protect app; if you open that URL in your browser where you're logged in as an admin then you'll of course see the list. But that doesn't necessarily mean that the user account for the Downloader Tool has the necessary rights. Mine's set up as Limited

[2021-09-29 02:07] awhiskin commented on #67
I think it was actually just an issue on my end - the user account I had created for this tool didn't have the correct permissions, I changed the UniFi Protect permissions to View Only and it now works and detects all of our cameras :)

I've been able to download footage, thanks a lot! Sorry to trouble you with such a silly issue.

[2021-09-29 02:07] #67 closed

[2021-09-29 23:23] danielfernau commented on #67
No worries, thanks a lot for the update. Glad you were able to resolve the permissions issue. Happy downloading! :)

[2021-10-04 00:42] cooper7692 opened #68 "archiver overloads and restarts protect app."
cloudkeygen2+ fw.ver. 2.1.11
latest unifi protect vers. 1.19.2

not sure why its doing this tbh.

rllib3.exceptions.ReadTimeoutError: HTTPSConnectionPool(host='192.168.1.200', port=443): Read timed out. (read timeout=60.0)

During handling of the above exception, another exception occurred:

Traceback (most recent call last):

  File "/usr/local/lib/python3.8/site-packages/protect_archiver/downloa

[2021-10-05 22:01] danielfernau commented on #68
Hi there!

Last time this has happened to me was while testing my tool against a much older version of Protect... thanks for reporting.

I suspect this is caused by either an API error or by accessing a 'broken' file; but in general you're right with the assumption that the interaction itself is what causes the crash/restart of the Protect service. This has happened to me in the past even when usi

[2021-11-09 17:48] mgrinspan opened #69 "Events Sync"
Would it be possible to combine the `sync` and `events` commands to allow for syncing events only?

[2021-11-11 22:15] danielfernau commented on #69
Hi there!

Yes, I think this could be implemented in some way.

For now, with the most recent version you could also try using the `--skip-existing-files` option in combination with a cron task or bash script where you set the start and end parameters dynamically (something like `--start="$(date -d '-2 days')"  --end="$(date -d '-1 day')"`).

Please note that as of right now I'm the only somewhat

[2021-11-12 13:08] mgrinspan commented on #69
Hey!

That actually is what I'm currently doing, except without `--skip-existing-files`. I'm worried that an error could happen mid-download, and then the next iteration wouldn't redownload it. So currently every day I download the last 3 days of footage.

No worries here! I don't expect you to change your life to give me a free feature on free software. I'll try my hand at this at some point and

[2022-01-09 01:54] michaelyork commented on #35
Unfortunately I still consistently run into this issue. Anything I can do to help debug?

[2022-01-09 23:18] adriankeenan commented on #40
Hi, I reproduce this issue when the camera list includes a camera which has never recording anything. `camera["stats"]["video"]["recordingStart"]`  will be `None` in this case but this is assumed to be an `int`.

It appears that you can work around this by enabling then disabling recording (and optionally deleting the recorded clip). This sets the `recordingStart` value which fixes the issue.

[2022-01-11 10:31] danielfernau opened #70 "Exclude cameras which have never recorded anything"
As suggested by @adriankeenan in https://github.com/unifi-toolbox/unifi-protect-video-downloader/issues/40#issuecomment-1008444205

Skip downloads for all cameras where `camera["stats"]["video"]["recordingStart"]` is `None` (no recordings) instead of `int` (timestamp of first available recording).

Currently, the software will try to download recordings even if there are none, resulting in an erro

[2022-01-11 10:33] danielfernau commented on #40
Hi @adriankeenan - thanks for pointing this out.
I'll try to add some code to handle this scenario a bit better, basically by ignoring all cameras that don't have a valid recordingStart value.

New issue based on your feedback ➡️ #70

I hope to have a little more time this year to maintain the project and add some useful features.

[2022-01-11 10:46] danielfernau commented on #35
Still happening to me as well from time to time. The 5xx errors are not easy to figure out, even with access to the UDM log files. Not sure if it's one of the requests by the downloader causing the Protect server to throw an error, or if it's an internal error. However, since I've also encountered similar errors while trying to download recordings directly via a web browser I'd assume it's somethi

[2022-01-11 17:21] jrs5082 commented on #70
I have a fix can you assign to me please?

[2022-01-28 23:12] nyanchor opened #71 "Invalid value for '--end' invalid datetime error message doesn't make any sense"
# Issue

I'm seeing strange error messages when trying to download using docker and here are by basic configs

[code]

running with docker
[code]
generates this error:
[code]
the start and end times clearly follow the specified format. I've switched multiple formats of the `...%S:%z) to no avail; may be I'm missing something?

[2022-01-29 11:01] danielfernau commented on #71
Hi @nyanchor

Try adjusting your `STOP=$(date +"%Y-%m-%d 00:00:00:00")` line to either
- `STOP=$(date +"%Y-%m-%d 00:00:00-0500")` (UTC-5, EST) or `STOP=$(date +"%Y-%m-%d 00:00:00+0100")` (UTC+1, CET) if you want to use the `%z` (time zone) parameter (note: there's no `:` between `%S` and `%z` in `%H:%M:%S%z`)

or

- `STOP=$(date +"%Y-%m-%d 00:00:00")`, leaving out the `%z` parameter. The software

[2022-01-31 18:17] nyanchor commented on #71
Thanks, will update accordingly.

[2022-01-31 18:21] nyanchor commented on #71
@danielfernau when looking at the download command, I don't see a way to specify a port number; everything seems to default to `443`, but I forwarded my connection to another IP and that requires I provide a specific port number. How can I do that?

[2022-01-31 18:26] danielfernau commented on #71
@nyanchor currently, the port is hard-coded in https://github.com/unifi-toolbox/unifi-protect-video-downloader/blob/cadb100c97f50f51b8f1a1a155d10f22e602e09d/protect_archiver/client/__init__.py#L65

In case you need to change it to something else, you'd have to do that manually in the code for now.

I'll add a feature request later to allow using a custom port specified via a command line parameter

[2022-01-31 18:42] nyanchor commented on #71
Since I'm working with the docker container image, that means I'll have to create my own docker container image with this specification.

[2022-01-31 18:42] #71 closed

[2022-01-31 18:45] danielfernau commented on #71
Yes, that's correct. Feel free to reach out if you need any assistance with that.

[2022-01-31 18:46] nyanchor opened #72 "Custom port specification cli support"
Based on conversation with @danielfernau in #71

@nyanchor currently, the port is hard-coded in https://github.com/unifi-toolbox/unifi-protect-video-downloader/blob/cadb100c97f50f51b8f1a1a155d10f22e602e09d/protect_archiver/client/__init__.py#L65

In case you need to change it to something else, you'd have to do that manually in the code for now.

I'll add a feature request later to allow using a c

[2022-01-31 19:34] nyanchor commented on #71
@danielfernau just created a PR to address this issue, take a look when you can. Let me know if there are any changes I need to make to get this merged. Also, I noticed there's no CI/CD implemented for this repo to automatically test changes. I may come up with something using GitHub actions, but that'll be later.

[2022-01-31 23:27] #39 closed

[2022-01-31 23:27] #38 closed

[2022-01-31 23:28] #33 closed

[2022-01-31 23:28] #36 closed

[2022-01-31 23:49] danielfernau commented on #71
@nyanchor Thanks a lot, looks good so far. I'll have another look at it as soon as I can and will keep you updated on the progress.

Regarding CI/CD, yes, feel free to open issues and/or PRs with ideas whenever you find time to do so.
I'm trying to keep this project alive in my spare time which has turned out to be quite a challenge, so any help is very welcome! The only automations currently in p

[2022-02-01 03:22] nyanchor commented on #71
@danielfernau I'll added my own customizations to the project, once I'm done with those; I'll create another PRs. Also did some security scans of the docker images, there' are over 23 vulnerabilities. I'll try to address as much of them as I can before creating the PRs.

[2022-02-01 10:07] danielfernau commented on #71
@nyanchor Thanks, sounds good. 👍
As for the security updates, I'll look into this as well -- and probably set up something like Dependabot for this project while I'm at it so that dependencies can be updated easier and a bit more automated.

[2022-02-06 21:33] #72 closed

[2022-02-06 22:22] danielfernau opened #84 "Transfer repository back to original user account"
Transfer repository ownership from _unifi-toolbox/unifi-protect-video-downloader_ back to _danielfernau/unifi-protect-video-downloader_ to avoid possible trademark infringement(s) caused by the organization (shared account) name "unifi-toolbox" under which this project is currently hosted.

- [x] https://docs.github.com/en/repositories/creating-and-managing-repositories/transferring-a-repository
-

[2022-02-10 00:12] #84 closed

[2022-03-02 10:31] danielfernau opened #98 "event_count_by_camera motion: RuntimeError: generator raised StopIteration"
I just pulled the newest and this is still an issue
`docker run -v /sharedfolders/Backups/Camera/UniFi:/downloads unifitoolbox/protect-archiver events --address=10.1.1.1 --username=ubnt --password=XXXXXX --use-subfolders --cameras=all --skip-existing-files --start=2022-02-23 --end=2022-2-28 /downloads/
Getting camera list
Successfully retrieved data from https://10.1.1.1:443/proxy/protect/api/came

[2022-03-07 05:18] hakarune commented on #30
How can it be set?

[2022-03-07 11:13] danielfernau commented on #30
This option is not yet implemented. It will be a command line flag to toggle between the two options. Probably something like `--filename-timestamp-utc` to use UTC/GMT, and default to local time zone if omitted.

The file name generators are hard-coded at the moment:
- https://github.com/danielfernau/unifi-protect-video-downloader/blob/068d3d6377e485e21b9c30f791cf8f83c8afe778/protect_archiver/down

[2022-03-08 02:41] hakarune commented on #30
Oh okay. So upcoming release then?

[2022-03-16 20:17] ggendel opened #106 "Cannot authenticate."
If I pass in a bad username/password I get a 401 error, but when I pass it the correct username/password I get this 499 error so I'm sure that I've gotten passed the initial authentication.  Do I need to disable 2FA for this to work?  Would it be possible to add 2FA support?

`% docker run -v /path/on/host/machine:/downloads unifitoolbox/protect-archiver download --address 192.168.1.1 --password <

[2022-03-16 20:47] danielfernau commented on #106
Hi @ggendel
You need to add a local user first, as described here: https://github.com/danielfernau/unifi-protect-video-downloader/wiki/Basic-Usage#general

Using your main (cloud) admin account is neither recommended nor supported. For security reasons you should always create individual, local accounts with only the necessary permissions for each external application you're using with your UDM(-P

[2022-03-25 10:38] #106 closed

[2022-03-25 19:54] L3o-pold commented on #65
@danielfernau do you need help on this?

[2022-03-25 22:18] danielfernau commented on #65
@L3o-pold Help is always welcome if you have some time to spare. My current work schedule doesn't allow for much maintenance on the project anymore but I also don't want to abandon it.

I've just created a pull request draft at https://github.com/danielfernau/unifi-protect-video-downloader/pull/114 which includes the suggested piece of code from the original issue comment. If you want to do some t

[2022-03-27 18:15] danielfernau commented on #65
@JimReprogle Fix will be part of next release. Sorry for the long wait.

[2022-03-27 18:15] #65 closed

[2022-04-01 17:15] danielfernau commented on #57
@GonzoTG Yes, still planned. Just didn't have the time to implement the changes yet. Mid-April looks a bit better regarding free time on my end, so I might be able to have a look then...

A very cool idea to capture sunrises, by the way. Always fun to see the many interesting things people use this tool for 👍

[2022-04-04 22:30] AshDevFr commented on #61
Hi, I have been using the `event` feature without any issue for some time but I experience the same issue as other people with `download` and `sync`

I am using the docker image.

[2022-04-10 02:12] nyanchor opened #128 "Docker image breaks on run"
There seems to be a bug in the docker image build
[code]

[2022-04-10 10:08] danielfernau commented on #128
Thanks for the heads-up. Just verified that downloads work with both the current `edge` tag (SHA [f650cc6d96cf](https://hub.docker.com/layers/unifitoolbox/protect-archiver/edge/images/sha256-f650cc6d96cfa7d233911162825729c2e6457c7e15801e9b97aaaafce2bd6e7f?context=explore)) as well as the `2.1.2` tag -- no issues across three Docker hosts (2 servers, 1 desktop) in combination with an UDMP as well a

[2022-04-11 15:45] #128 closed

[2022-04-16 21:32] #6 closed

[2022-04-16 21:32] #16 closed

[2022-04-16 23:24] #30 closed

[2022-05-29 00:04] danielfernau opened #168 "Error while loading camera list: 401 (after a successful authentication)"
### Discussed in https://github.com/danielfernau/unifi-protect-video-downloader/discussions/155

<div type='discussions-op-text'>

<sup>Originally posted by **daynaskully** May 15, 2022</sup>
I'm using the legacy (--not-unifi-os) setting on a CKG2+ (v1.1.11) & Protect (v1.13.7)

</div>

LegacyClient does not use Authorization header and tries to authenticate with TOKEN cookie:
https://github.com/d

[2022-05-29 00:13] #168 closed

[2022-07-03 16:30] danielfernau commented on #40
Should be fixed in latest edge build (via PR #89)

[2022-07-03 16:33] danielfernau commented on #70
Should be (partially) fixed by PR #89 -- however, I need to check if it correctly handles cameras which have never recorded anything since being added to the system. My current tests only cover cases where there are no recent recordings (or only very few motion recordings multiple days apart).

[2022-07-13 11:26] mufunyo opened #187 "404 error returns 0 (success)"
Because the archiver script crashes so often, I made a simple Bash script that retries the archiver infinitely until it returns 0. However, this morning I was greeted with "Error while loading camera list: 404" while the script exited "successfully". All errors should return something other than 0 to prevent this from happening.

[2022-07-13 20:47] danielfernau commented on #187
Hey there, thanks for opening this issue.

The tool already returns non-zero exit codes for multiple different kinds of exceptions - let's see what I can do to improve exit- and error handling for this camera list 404 situation...

If you like you can post a bit more information about your crashes here (please remove/redact personal info from logs first) so that I can have a look and maybe add som

[2022-07-17 12:13] mufunyo commented on #187
Maybe a simple solution is just to have the archiver return the HTTP exit code? So in this case it would return 404 instead of 0.

Here you go: https://gist.githubusercontent.com/mufunyo/67b33fc52b224dd58b85b74c83ffa3b1/raw/f275c7b1385d20d6a8ae433ff7e4e9a98cee8382/archiver.log

If it's not too much to ask, suppressing the Python exception handler and just printing human-readable errors would alrea

[2022-07-17 13:38] danielfernau commented on #187
Alright, @mufunyo, thanks for the logs and your input. I can implement both ideas.

As to why stuff like this is sometimes not already included and also why it sometimes takes a considerable amount of days before I add or fix something: this is a personal weekend project of mine which I decided to open-source here for everyone to use, build upon, or make improvements to by means of a pull request

[2022-07-17 22:33] mufunyo commented on #187
Oh I understand and agree completely. It's an absolute embarrassment that Ubiquiti don't expose a simple archiving function in their own UI, and that this is a part time project for you. That's why I didn't reach out before, if I can work around something myself I will, if it means I don't have to bother you with it. However I couldn't work around this particular issue (not without regex parsing s

[2022-08-16 06:39] nijel opened #202 "Not downloading events anymore in UDM Pro since July"
It seems that somewhere around [Unifi Protect 2.0.0](https://community.ui.com/releases/UniFi-Protect-Application-2-0-0/d125d769-a514-4f02-b073-c4a2c2e72d23) the API has been changed. Unfortunately, I noticed this after months, so it's hard to tell exactly.

Following always returns no events:

https://github.com/danielfernau/unifi-protect-video-downloader/blob/a91db13ef4aed3356fac45900f00cccc5766e

[2022-08-16 21:03] danielfernau commented on #202
Hi @nijel - thanks for reporting this issue. I'll look into it as soon as possible and provide an update. Looks like they've added quite a few new types related to the smart detections which then are no longer tracked under the more general 'motion' type.

[2022-08-23 10:00] juchong opened #206 "Ubiquiti Removed Local Account Creation"
It looks like Ubiquiti removed the ability to create a local user account that also has ssh access in their latest release. I'm now only able to log in using root / ssh-password. I'm trying to access footage on a UNVR. I also have a cloud key gen 2 that I'm no longer using for video recording.

[2022-08-24 20:21] #202 closed

[2022-08-25 21:00] danielfernau commented on #206
Hi there!

I'm not sure what your question is here. You don't need to run the tool on the UDM/UNVR/CloudKey directly. Since it's primarily distributed as a Docker Image you can use any computer on your network that has the Docker Engine installed. From there just use the credentials created via the web interface of your UniFi appliance as per documentation to download the footage within your desir

[2022-09-18 10:12] stevooooooo1 opened #216 "0 0 files downloaded (0.0 b), 0 files skipped, 0 files failed, 0 files total"
Hi,

Upon running the command

docker run --volume /Users/*********/Downloads:/downloads unifitoolbox/protect-archiver download --address=192.168.20.10 --username=Export --password=******** --cameras=“all” --skip-existing-files --use-subfolders --start=2022-09-10T10:00:00 --end=2022-09-10T23:59:00 /downloads

I cannot fetch any files it simply says 0 files downloaded and that's it. No idea why thi

[2022-09-18 22:41] danielfernau commented on #216
Hi @stevooooooo1

To protect the recordings for now, also make sure that you have _Time-based Recording Deletion_ disabled under _Settings > General > Video Retention_. This is important since it could potentially cause your clips to be deleted even if you're not recording anything new.

You mentioned that downloading the files through the UniFi software doesn't work - do you mean the web UI or th

[2022-11-29 07:44] adams-family commented on #61
I had the same timeout issue and wanted to confirm that `--download-request-timeout 120` did help me solve the issue. Although, my CKG2+ is so slow that I think I need even more, as downloading an hour worth of video takes about ±350s.